include LICENSE
include README.rst
recursive-include django_zotero/fixtures *
recursive-include django_zotero/static *
recursive-include django_zotero/templates *
recursive-include django_zotero/templatetags *
recursive-include django_zotero/media *
