<div class="{{ formset.prefix }} inline-tags">
  {{ formset.media }}
  {{ formset.management_form }}
  <fieldset>
    {{ formset.non_form_errors }}
    <table>
      <thead>
        <tr>
          {% for field in formset.form.base_fields %}
            <th>{{ field|capfirst }}</th>
          {% endfor %}
          <th>Delete?</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
          {% if form.non_field_errors %}
            <tr>
              <td>{{ form.non_field_errors }}</td>
            </tr>
          {% endif %}
            <tr class="{% cycle 'row1' 'row2' %}">
              {% for field in form %}
                <td class="field-{{ field.name }}">
                  {{ field.errors.as_ul }}
                  {{ field }}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </fieldset>
</div>
