{% load i18n %}
<div class="{{ formset.prefix }} zotero-inline-tags">
  {{ formset.media }}
  {{ formset.management_form }}
  <input type="hidden" id="zotero-itemtype-url" value="{% url 'admin:zotero_itemtype_fields' %}">
  <input type="hidden" id="zotero-formset-prefix" value="{{ formset.prefix }}">
  <fieldset>
    {{ formset.non_form_errors }}
    <table>
      {% if formset.show_labels %}
      <thead>
        <tr class="zotero-header">
          {% for field in formset.form.base_fields.values %}
            <th>
                {{ field.label|capfirst }}
            </th>
          {% endfor %}
          <th>{% trans "Delete?" %}</th>
        </tr>
      </thead>
      {% endif %}
      <tbody>
        {% for form in formset %}
          <tr class="{% cycle 'row1' 'row2' %} zotero-tag">
            {% for field in form %}
              <td class="field-{{ field.name }}">
                {{ field.errors.as_ul }}
                {{ field }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </fieldset>
</div>
